{% extends "base.html" %}
{% load staticfiles%}
{% block body %}
<h1>ようこそ{{user.username}}さん</h1>
<form action="{% url 'library_app:request_page' %}" method=get>
<input type=submit value='request'>
</form>
<form action="{% url 'library_app:present_page' %}" method=get>
<input type=submit value='present'>
</bottun>
</form>
<a href="{% url 'library_app:present_index' %}">プレセントを見る</a>

{%if latest_request_book_list %}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>user</th>
      <th>title</th>
      <th>author</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {%for request_book in latest_request_book_list%}
    <tr>
          <td><a href="{% url 'library_app:detail' request_book.user.id %}">
          <strong>{{ request_book.user }}</strong></a></p></td>
          <td><a href="{{ request_book.book_link }}"><p>{{ request_book.title }}</p></a></td>
          <td>{{ request_book.author }}</td>
          <td>{% if user.id == request_book.user.id %}
          <form action="{% url 'library_app:delete' %}" method=post >
          {% csrf_token %}
          <input type=submit value=Delete>
          <input type=hidden value="{{request_book.id}}" name="id">
          <input type=hidden value="{{user.id}}" name="user">
          {% endif %}
          </form></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
  <p>No request are available.</p>
{% endif %}

{% endblock %}